[project]
	description = Mirror of Apache Qpid Proton
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ajssmith
[access "refs/for/refs/*"]
	read = group user/ajssmith
	push = group user/ajssmith
	label-Code-Review = -2..+2 group user/ajssmith
	label-Verified = -1..+1 group user/ajssmith
	rebase = group user/ajssmith
	removeReviewer = group user/ajssmith
	submit = group user/ajssmith
[access "refs/heads/*"]
	read = group user/ajssmith
	create = group user/ajssmith
	push = +force group user/ajssmith
	pushMerge = group user/ajssmith
[access "refs/tags/*"]
	push = +force group user/ajssmith
	pushTag = group user/ajssmith
	pushSignedTag = group user/ajssmith
